<!DOCTYPE html>
<html>
<head>
    <title>Search Cars by Price</title>
</head>
<body bgcolor="Yellow">
    <h1>Search Cars by Price</h1>
    <form action="/cars/searchByPrice" method="GET">
        <label for="minPrice">Minimum Price:</label>
        <input type="number" id="minPrice" name="minPrice" step="10000">
        <br>
        <label for="maxPrice">Maximum Price:</label>
        <input type="number" id="maxPrice" name="maxPrice" step="10000">
        <br>
        <br>
        <button type="submit" value=""style="color:blue">Search</button>
    </form>
    <br>
    <a href="/" style="color:blue">Back to Home</a>
</body>
</html>
