<!DOCTYPE html>
<html>
<head>
    <title>Search Cars by Brand</title>
</head>
<body  bgcolor="Yellow">
    <h1>Search Cars by Brand</h1>
    <form action="/cars/searchByBrand" method="GET">
        <label for="brand">Select Brand:</label>
        <select id="brand" name="brand">
            <option value="Hyundai">Hyundai</option>
            <option value="Maruti Suzuki">Maruti Suzuki</option>
            <option value="Honda">Honda</option>
            <!-- Add more options for other brands -->
        </select>
        <br>
        <button type="submit" style="color:blue">FindModels</button>
         <button><a href="/" style="color:blue">Back</a></button>
    </form>
    
</body>
</html>
